@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: black;
}

/* src/styles.css */
.placeholder-black::placeholder {
  color: black;
}



